@using WebBanSach.Models.Datas;
@using System.Text.Json;
@{
    ViewData["Title"] = "Cart";
    Layout = "~/Views/Shared/_BookStore.cshtml";
}

@model List<CartItem>


<!-- Add this code after your table rows loop -->


    <div style="height: 550px; overflow: auto;" id="content-cart">
        @if (Model.Count == 0)
        {
            <p>Your cart is empty.</p>
        }else{
        <h2 class="title-cart">
            Giỏ hàng
        </h2>
        <form asp-controller="HoaDon" asp-action="ThemHoaDon" method="post" enctype="multipart/form-data">
            <div class="page-content">
                <div class="header-label">
                    <div class="label-item col-md-2">
                        Sản phẩm
                    </div>
                    <div class="label-item col-md-2">
                        Tên sản phẩm
                    </div>
                    <div class="label-item col-md-2">
                        Giá
                    </div>
                    <div class="label-item col-md-2">
                        Số lượng
                    </div>
                    <div class="label-item col-md-2">
                        Tổng
                    </div>
                    <div class="label-item col-md-2">
                        Xóa
                    </div>
                </div>
                @for (var i = 0; i < Model.Count(); i++)
                {
                    <div class="list-product-cart">
                        <div class="product-item col-md-2">
                            <img src="@Url.Content("../books/cover/"+Model[i].Anh)" alt="">
                        </div>
                        <input asp-for="@Model[i].MaSach" type="hidden" name="cartItems[@i].MaSach" />
                        <input asp-for="@Model[i].TenSach" type="hidden" name="cartItems[@i].TenSach" />
                        <input asp-for="@Model[i].MoTa" type="hidden" name="cartItems[@i].MoTa" />
                        <input asp-for="@Model[i].DonGia" type="hidden" name="cartItems[@i].DonGia" />
                        <input asp-for="@Model[i].Anh" type="hidden" name="cartItems[@i].Anh" />
                        <div class="product-item col-md-2">
                            @Model[i].TenSach
                        </div>
                        <div class="product-item col-md-2">
                            @Model[i].DonGia
                        </div>
                        <div class="product-item col-md-2">
                            <input asp-for="@Model[i].SoLuong" name="cartItems[@i].SoLuong">
                        </div>
                        <div class="product-item col-md-2">
                            @(Model[i].DonGia * Model[i].SoLuong)
                        </div>
                        <div class="product-item col-md-2">
                            <a asp-action="RemoveFromCart" asp-controller="Cart" asp-route-masach="@Model[i].MaSach" class="btn">Xóa</a>
                        </div>
                    </div>
                }
            </div>
            <button class="footer-filter-btn cart-btn">Đặt ngay</button>
        </form>
        }

    </div>




