@{
    Layout = "_BookStore";
}
@model List<TSach>


@foreach (var item in Model)
{
    <div class="sale-item col-md-3 col-xs-12">
        <a href="./product_details.html" class="image-item">
            @if (item.Anh != null)
            {
                <img src="@Url.Content("../books/cover/"+item.Anh)" alt="Sale">
            }
            else
            {
                <img src="../Bookstore/assets/images/item1.jpg" alt="Sale">
            }
        </a>
        <div class="info-item">
            <div class="name-item">
                <a asp-controller="Home" asp-action="BookDetails"
               asp-route-masach="@item.MaSach">
                    @item.TenSach
                </a>
            </div>
            <div class="price">
                <span class="sale-price">@item.DonGia</span>
                <a sp-controller="Home" asp-action="BookDetails"
               asp-route-masach="@item.MaSach"><i class='bx bx-shopping-bag'></i></a>
            </div>
        </div>
    </div>
}
