@{
    Layout = "_BookStore";
}
@using X.PagedList.Mvc.Core
@model X.PagedList.IPagedList<TSach>
@TempData["test"]


<div id="slider">
    <img src="../BookStoreRC/assets/images/slider1.jpg" alt="Slider">
</div>
<!-- End Slider -->
<!-- Content -->
<div id="content">
    <!-- Sales -->
    <div class="home-sales">
        <div class="header-content">
            <div class="title">
                Danh Sách sản phẩm
            </div>
            <div class="filter-btn">
                <p>
                    Lọc
                </p>
                <i class='bx bx-filter-alt'></i>
            </div>
        </div>

        <div id="main-product" class="row">
            
    @foreach(var item in Model){
    <div class="sale-item col-md-3 col-xs-12">
        @*<span class="sale">-50<span>%</span></span>*@
        <a href="./product_details.html" class="image-item">
            @if (item.Anh != null)
            {
                <img src="@Url.Content("../books/cover/"+item.Anh)" alt="Sale">
            }
            else
            {
                <img src="../BookStoreRC/assets/images/item1.jpg" alt="Sale">
            }
        </a>
        <div class="info-item">
            <div class="name-item">
                <a asp-controller="Home" asp-action="BookDetails"
               asp-route-masach="@item.MaSach">
                    @item.TenSach
                </a>
            </div>
            <div class="price">
                @if (item.GiamGia == null){
                                <span class="sale-price">@item.DonGia đ</span>
                                <a asp-controller="Home" asp-action="BookDetails"
                           asp-route-masach="@item.MaSach">
                                    <i class='bx bx-shopping-bag'></i>
                                </a>
                }else{
                                <span class="sale-price">
                                    @{double? value = item.DonGia * ((100 - item.GiamGia) / 100);
                                    decimal result = value.HasValue ? Convert.ToDecimal(value.Value) : 0;
                                    } @result đ <span>@item.DonGia đ</span></span>
                                <a asp-controller="Home" asp-action="BookDetails"
                           asp-route-masach="@item.MaSach">
                                    <i class='bx bx-shopping-bag'></i>
                                </a>
                }

            </div>
        </div>
    </div>

    }
        </div>

        <div class="row">
            @Html.PagedListPager(Model, page=>Url.Action("Index", new{page=page}))
        </div>
    </div>
</div>





